*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/nav/js.OpenFilesState
/.idea/gradle.xml
.DS_Store
/build
-built-apk
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.jks
*.keystore
screenshot.png
